.loginPage {
  background-color: rgb(185, 211, 211);
}
.login {
  height: 100vh;
  display: grid;
  place-items: center;
}

.googleLoginBtn {
  border: 2px solid white;
  border-radius: 999px;
  background-color: #494848;
  padding: 5px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.googleLoginBtn img {
  width: 40px;
  height: 40px;
}
.googleLoginBtn span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.input_title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.38);
}

.login_input {
  width: 350px;
  height: 50px;
  background: #eff0f7;
  border-radius: 16px;
  border: 0;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  padding: 10px 20px;
  color: #a0a3bd;
}
.login_input:focus {
  outline: none;
}

.login_btn {
  width: 100%;
  background: #ffd8b9;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #823900;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 10px;
  border: none;
  margin-top: 20px;
}